

.logo{
  width: 60px;
  height: 35px;
}
.user{
  display: flex;
  align-items: center;
}
.email{
  font-size: 15px;
}
button{
  margin: 5px;
}

.navbarSupportedContent{
  display: flex;
  justify-content: left;
}

.cartItems{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.cartItems:hover{
    padding: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}

.red-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}




.search-form {
  margin: 0px 10px;
  width: 550px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid green;
}

.search-form input:focus {
  border: 2px solid green;
}

.search{
  border: none;
  margin: 0px !important;
}
.search:focus{
  outline: none;
}
.icon2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 214, 214);
  width: 50px;
  cursor: pointer;
}
.icon2:hover{
  background-color: rgb(194, 194, 194);
}
.profile-pic{
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  cursor: pointer;
}
.profile-pic:hover{
  opacity: 50%;
  background-color: darkgray;
}

@media (max-width: 1000px){

  .navbar-toggler{
    width: 150px;
  }
  .collapse{
    width: 100% !important;
  }
  .location-form{
    width: 95%;
  }
  .search-form{
    width: 95%;
    margin: 0px;
    margin-top: 5px;
  }
}