footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
    background-color: #333; 
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    
  }
  .footerImages{
    width: 100px;
    display: flex;
  }
  .footer p {
    margin: 0;

  }
  .main{
    width: 100%;
  }
  .footertop div{
    padding: 0px 10px;
  }
  .footertop{
    padding: 30px 0px;
    margin: 0px;
    display: flex;
    justify-content: center ;
    width: 100% !important;
  }
  .footertop h5{
    font-size: 13px;
  }
  .footertop p{
    font-size: 12px;
    line-height: 5px;

  }
  .footer a {
    color: #ffce00; /* OLX Yellow color for links in the footer */
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  .follow{
    max-width: 300px;
  }
  .row{
    margin: 0px;
  }